<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top Ten Film List Of 2023!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Top Ten Film List</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://purpleheartfoundation.org/vehicle-donation-purpleheart/?gad=1&gclid=Cj0KCQjwjryjBhD0ARIsAMLvnF9KddKIX-z06Byx_dYL9_jvNZVE8EsO_23m2tnE6EWxuHI3AME2FnwaAhWjEALw_wcB">Donate to our favorite charity</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More Stuff
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/Films">Films</a></li>
                <li><a class="dropdown-item" href="/Actors">Actors</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/Studios">Studios</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <header class="bg-info text-white text-center">
      <div class="container">
        <h1 class="display-4">Welcome to Top Ten Film List</h1>
        <p class="lead">Your go-to platform for film ratings and reviews</p>
      </div>
    </header>

    <div class="container mt-4">
      @RenderBody()
    </div>
    <br>
    <br>
    @await Html.PartialAsync("Footer")

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
