@{
  Layout = "_Layout";
}

@model TopTenFilmList.Models.Film

<div class="container">
  <h2 class="my-4">Add actor</h2>

  <h3 class="mb-4">Add an actor to this film: @Html.DisplayFor(model => model.FilmName)</h3>

  @using (Html.BeginForm("AddActor", "Films", FormMethod.Post, new { @class = "mb-4" }))
  {
    @Html.HiddenFor(model => model.FilmId)

    <div class="form-group">
      <label for="ActorId" class="form-label">Select an actor</label>
      @Html.DropDownList("ActorId", null, new { @class = "form-control" })
    </div>

    <input type="submit" value="Add actor" class="btn btn-primary" />
  }

  @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary mt-3" })
</div>
