@{
  Layout = "_Layout";
}

@model TopTenFilmList.Models.Studio

<h4>Add a new studio</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  <p>Studio Name: @Html.TextBoxFor(model => model.Name)</p>
  @* , new { required = "required"} *@
  <input type="submit" value="Add new studio" />
}
<p>@Html.ActionLink("Show all studios", "Index")</p>